---
layout: page
permalink: contact.html
title: contact
header-img:  
last-updated: 2024-07-16 10:12 AM
---
{% assign theme = site.data.themes[site.ui_theme] %}
    <!-- Profile Section -->
    <div class="profile-section" style="text-align:center; margin-bottom:20px;">
        <!-- Profile Image -->
        <img src="/assets/img/avatar/me.jpg" alt="Reems" class="img-contact"/>
        <h1>Reems</h1>
        <p>PM</p>
    </div>
  
    <!-- Introduction or About Me Section -->
    <div class="about-me">
        <p>Feel free to reach out to me through any of the platforms below OR send me an email for any inquiries or collaborations.</p>
    </div>
  
    <!-- Contact Methods -->
    <div class="contact-methods" style="background:#f9f9f9; padding:20px; border-radius:10px;">
        <!-- Twitter
        <div class="contact-method" style="margin-bottom:10px;">
            <span style="color:{{theme.contact-social-color}};">
                <i class="fab fa-twitter-square fa-fw"></i>
                <span>Twitter: <a href="https://twitter.com/rosenkory">@rosenkory</a></span>
            </span>
        </div> -->
        <!-- GitHub -->
        <div class="contact-method" style="margin-bottom:10px;">
            <span style="color:{{theme.contact-social-color}};">
                <i class="fab fa-github-square fa-fw"></i>
                <span>GitHub: <a href="https://github.com/reemstk">@reemstk</a></span>
            </span>
        </div>
        <!-- LinkedIn -->
        <div class="contact-method" style="margin-bottom:10px;">
            <span style="color:{{theme.contact-social-color}};">
                <i class="fab fa-linkedin fa-fw"></i>
                <span>LinkedIn: <a href="https://www.linkedin.com/in/reemstk">Reems</a></span>
            </span>
        </div>
        <!-- Personal Email -->
        <div class="contact-method" style="margin-bottom:10px;">
            <span style="color:{{theme.contact-social-color}};">
                <i class="fas fa-envelope fa-fw"></i>
                <span>Personal Email: reemstk.cv [at] gmail [dot] com</span>
            </span>
        </div>
        <!-- Academic Email
        <div class="contact-method" style="margin-bottom:10px;">
            <span class="icon-container" style="color:{{theme.contact-social-color}};">
                <img src="{{ 'assets/img/acamail.svg' | relative_url }}" alt="Academic Email" class="svg-icon" id="academic-email-icon3">
            </span>
            <span>Academic Email: krosen5 [at] tulane [dot] edu</span>
        </div> -->
        <!-- Phone Number
        <div class="contact-method">
            <span style="color:{{theme.contact-social-color}};">
                <i class="fas fa-phone fa-fw"></i>
                <span>Phone: <a href="tel:+17322073275">+1 732-207-3275</a></span>
            </span>
        </div> -->
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var svgImage = document.getElementById('academic-email-icon3');
        var svgUrl = svgImage.getAttribute('src');

        fetch(svgUrl)
            .then(response => response.text())
            .then(svgData => {
                var parser = new DOMParser();
                var svgDom = parser.parseFromString(svgData, 'image/svg+xml');

                // Modify the color to match theme's social color
                var themeColor = getComputedStyle(svgImage.parentNode).color;
                svgDom.querySelector('svg').querySelectorAll('[fill]').forEach(el => el.setAttribute('fill', themeColor));

                // Set the vertical alignment of the SVG
                var svgElement = svgDom.querySelector('svg');
                svgElement.setAttribute('style', 'vertical-align: middle;');

                // Replace the <img> with the new SVG
                svgImage.parentNode.replaceChild(svgElement, svgImage);
            })
            .catch(error => console.error('Error loading SVG:', error));
    });
</script>

<style>
    .icon-container {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.25em; /* Adjust to match FontAwesome icon width */
        height: 1em; /* Adjust for proper vertical alignment */
        vertical-align: middle;
    }

    .icon-container img {
        width: 100%;
        height: auto;
    }
</style>
<script>
function startClippy(){
    new ClipboardJS('.btn');
}
window.onload = startClippy;
</script>
