<!DOCTYPE html>
{% assign theme = site.data.themes[site.ui_theme] %}
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body style="background-color:{{theme.background-color}};">
    {% include nav.html %}
    <div class="dumbarton-spacer-sm"></div>
    <div class="container">
       <span id="intro-text" class="intro-text row"></span>
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>

<!-- Dynamic Typing Start -->

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.7/typed.min.js"
></script>
<script type="text/javascript">
  $(".intro-text").typed({
    strings: ["{{ site.quote }}"],
    typeSpeed: 3,
    startDelay: 1000,
    loop: false,
    loopCount: 1,
    cursorChar: "|",
  });
</script>

<!-- Dynamic Typing End  -->
